[submodule "mopsa-analyzer-js"]
	path = mopsa-analyzer-js
	url = git@gitlab.com:rboudrouss/mopsa-analyzer-js.git
[submodule "ocaml-wasm"]
	path = ocaml-wasm
	url = git@github.com:rboudrouss/ocaml.git
