[submodule "apron"]
	path = apron
	url = git@github.com:rboudrouss/apron.git
[submodule "mopsa-analyzer"]
	path = mopsa-analyzer
	url = git@gitlab.com:rboudrouss/mopsa-analyzer-ocaml-4.12.git
[submodule "mlgmpidl"]
	path = mlgmpidl
	url = git@github.com:nberth/mlgmpidl.git
[submodule "camlidl"]
	path = camlidl
	url = git@github.com:xavierleroy/camlidl.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:rboudrouss/llvm-project-wasm.git
